
.icon-cog:before { content: '\e800'; } /* '' */
.icon-cog-1:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-gauge:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e804'; } /* '' */
.icon-briefcase:before { content: '\e805'; } /* '' */
.icon-wordpress-1:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-database:before { content: '\e808'; } /* '' */
.icon-note:before { content: '\e809'; } /* '' */
.icon-cog-2:before { content: '\e80a'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-wordpress:before { content: '\f31d'; } /* '' */